

body {
  background-color: goldenrod;
}

.frescaBox {
  margin-top: 100px;
  background-color: white;
  padding:10px;
  border: 1px solid black;
  width: 50%;
  margin-left: 30%;
}

.Hidden {
  display: none;
}

button {
  padding: 10px;
}

button:hover {
  background-color: blue;
  color: white;
}